<b><p>"When you typically swim now, how long do you usually swim?":</p></b>
<p><%= @info[:question_1]%></p>
<br>
<b><p>How far do you usually go?</p></b>
<p><%= @info[:question_2]%></p>
<br>
<b><p>Can you swim freestyle, backstroke, breaststroke and butterfly?</p></b>
<p><%= @info[:question_3]%></p>
<br>
<b><p>If you were to swim 5 sets of 100 yards, what interval would you do them on?</p></b>
<p><%= @info[:question_4]%></p>
<br>
<b><p>Are you interested in swimmming at 6:15 am, noon or 7:00 pm - 8:30. You can attend any session you want, but you might find it is easier to attend one time regularly. We have workouts monday through friday at those times.</p></b>
<p><%= @info[:question_5]%></p>
<br>
<div><b>Email Adress:</b><%=@info[:email_address]%></div>
<br>
<div><b>Name:</b><%=@info[:swimmer_name]%></div>
