<!DOCTYPE html>
<html>
<head>
  <title>Masters Swimming Cambridge MIT TechMasters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans' rel='stylesheet' type='text/css'>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59140689-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

<header><a id="header-name" href="/">Tech Masters Swimming</a>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/schedule">Schedule</a></li>
		<li><a href="/interested">Interested?</a></li>
		<li><a href="/pay">Pay</a></li>
		<li><a href="/#general-info">About</a></li>
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/contact-us">Contact Us</a></li>
	</ul>
</nav>
</header>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="notice"><%= alert %></p>
<% end %>

<%= yield %>

<footer></footer>

</body>
</html>
